$primary-color: #A76E65;
$yellow-color: #FFB903;
$third-color: #f98169;
$green-color: #466732;
$white-color: #fff;
$text-color: #69451c;
$text-gray: #999999;
$black-color: #000;
$font-color: #69451C;
$secondry-font: 'Raleway', sans-serif