@import 'base.scss';
header {
    position: relative;

    img {
        width: 75%;
    }
}
#header {
    transition-property: position;
    transition-duration: .6s;
    transform-origin: top center;
    transition-timing-function: ease;
    position: fixed;
    top: 0;
    z-index: 9999;
    background: #fff;
    left: 107px;
    width: 1306px;
    &.active {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, .05);
        .site-header__logo-image-laptop {
            display: none;
        }
        .site-header__logo-image-mobile {
            display: block;
        }
        .offers {
            display: none;
        }
        .slider_header {
            display: none;
        }
    }
}
.site-header__logo-image-laptop {
    display: block;
}
.site-header__logo-image-mobile {
    display: none;
}
.slider_header {
    position: relative;
    height: 48px;
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}
.slider_header_list {
    text-align: center;
}
.slider_header_item {
    min-width: 100%;
    h3 {
        margin: 0;
        width: 100%;
        font-size: 1.6rem;
        font-weight: 800;
        color: $primary-color;
        font-weight: bold;
    }
    span {
        line-height: 3rem;
        font-weight: normal;
        font-size: 1.4rem;
        color: $primary-color;
    }
}
.navbar_header {
    position: relative;
    height: 46px;
}
.navbar_list {
    align-items: center;
    height: 100%;
    margin: 0;
}

.navbar_link {
    line-height: 3rem;
    &:hover {
        color: #412b11
    }
}

.cart {
    margin: 4px 0;
    width: 100px;
    background-color: $primary-color;
    border-radius: 10px;

    position: relative;
    &_icon {
        width: 18px;
    }
    &_number {
        position: absolute;
        top: 14px;
        left: 20px;

        width: 18px;
        height: 18px;
        background-color: #EFD7C5;
        border-radius: 10px;
    }
    span {
        font-size: 1.2rem;
        transform: translateY(1px);
        color: $black-color;
    }
}

// offers
.offers {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    margin-bottom: 10px;
    border-top: 1px solid rgba(226, 152, 86, 0.5);
    border-bottom: 1px solid rgba(226, 152, 86, 0.5);
}
.offers_cell {
    height: 50px;
}
.offers_cell_content {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    .small-hide {
       font-weight: 700;
        display: block;
        padding: 0 6px;
        background: #A76E65;
        color: $white-color
    }
    &.offers-1 {
        background: url("../images/offers/deal-stick.webp") right center no-repeat transparent;
        background-size: auto;
        background-size: auto 40px;
        padding-right: 42px;
    }
    &.offers-2 {
        background: url("../images/offers/free-small-original-straws.webp") right center no-repeat transparent;
        background-size: auto;
        background-size: auto 40px;
        padding-right: 80px;
    }
    p {
        text-align: center;
    }
    b {
        font-weight: 700;
        font-size: 1.4rem;
    }
}
.offers_border_cell {
    border-right: 1px dashed rgba(226, 152, 86, 0.5);
    display: inline-block;
    line-height: 1.1em;
}
.offers_cell_img {
    height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
}


// navbar_tabs_menu
.navbar_tabs {
    position: absolute;
    top: 46px;
    left: -220px;
    width: 1320px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .3);
    z-index: 2;
    background-color: #fff;
    &_list {

    }

    &_item {
        display: none;
        padding: 16px 20px;
        &.active {
            display: flex;
            justify-content: space-between;
        }
        &_wook {
            display: inline-block;
            text-align: center;
            cursor: pointer;
            img {
                transition: transform .6s ease;
            }
            p {
                font-size: 2rem;
                line-height: 3rem;
                text-align: center;
            }
            &:hover {
                img {
                    transform: scale(1.09)
                }
            }
        }
        &.shop-by-wood {
            flex-direction: column;
        }

        &_about {
            text-align: center;
            display: inline-block;
            padding: 20px 8px;
            h4 {
                font-size: 1.8rem;
                font-weight: 700;
                text-align: center;
                padding: 10px 0;
                margin: 0;
            }
            p {
                font-size: 1.4rem;
                text-align: center;
                min-height: 102px;
                color: #69451c;
                padding: 12px 16px ;
            }
            .btn_navbar_abouts  {
                width: 50%;
                display: flex;
                align-items: center;
                margin: auto;
                justify-content: center;
                border-radius: 7px;
                border: none;
                background: #A76E65;
                padding: 6px 8px;
                transition-property: width;
                transition-duration: .6s;
                transform-origin: center;
                transition-timing-function: ease;
                &:hover {
                    width: 40%;
                }
                a {
                    color: #fff;
                    font-size: 1.4rem;
                    font-weight: normal;
                }
            }
        }
    }

    &_menu {

        &_list {
            min-width: 300px;
            border-right: 1px solid #A76E65;
        }
        &_title {
            a {
                display: block;
                padding: 10px 16px;
                font-size: 1.6rem;
                font-weight: 600;
                color: #A76E65;
                background: #fff;
                border-radius: 10px;
                &:hover {
                    color: #fff;
                    background: #A76E65;
                }
            }
            &.active {
                a {
                    color: #fff;
                    background: #A76E65;
                }
            }
        }
        &_wrapper {
            width: 100%;
            &_list {
                display: none;
                &.active {
                    display: block;
                }
            }
            &_item {
                width: 20%;
                display: inline-block;
                cursor: pointer;
                text-align: center;
                img {
                    transition: transform .6s ease;
                }
                &:hover {
                    img {
                        transform: scale(1.09)
                    }
                }
            }
            p {
                font-size: 1.8rem;
                text-align: center;
                padding-bottom: 10px;
            }
        }
    }

}